@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-bg-color {
    @apply bg-black;
  }

  .primary-text-color {
    @apply text-black;
  }

  .secondary-bg-color {
    @apply bg-blue-600;
  }

  .secondary-text-color {
    @apply text-blue-600;
  }

  .primary-border-color {
    @apply border-black;
  }

  .primary-badge {
    @apply primary-bg-color left-0 top-0 h-7 px-2 py-1 text-center font-bold;
  }

  .card:hover .link {
    @apply primary-bg-color text-white;
  }

  html {
    margin-left: calc(100vw - 100%);
  }

  .card:hover img {
    @apply opacity-80;
  }

  .card:hover h1 {
    @apply secondary-text-color;
  }
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  min-height: 100svh;
}

*::-webkit-scrollbar {
  width: 0.15rem;
}

*::-webkit-scrollbar-thumb {
  background: black;
}
